/*
Created by: Dylan LaMott. Used for index.html
*/
/* ==========================================================================
   Base styles:
   ========================================================================== */

html {
  background: rgb(211, 211, 211);
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}



audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Header styles
   ========================================================================== */

header {
  width: 100%;
  position: relative;
}


header > div {
  position: absolute;
  right: 25px;
  top: 15px;
  color: whitesmoke;
  text-shadow: -1px 1px 2px #000;
  text-effect: outline;
  font-weight: bold;
}

header > div p > a{
  text-decoration: none;
  color: white;
}

.button{
  line-height: 1;
  cursor: pointer;
  font-weight: 700;
  font-size: .83333rem;
  border-radius: 2px;
  border-width: 0;
  text-decoration: none;
  padding: 5px 5px;
  color: white;
  background-color: black;
}

.connect{
  text-align: center;
  padding: 10px;
  width: 100%;
}

header > div input {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

header img {
  width: 100%;
  display: block;
}
/* ==========================================================================
   Body styles
   ========================================================================== */

body {
  background-color: white;
  box-shadow: rgb(51, 51, 51) 10px 0px 40px, rgb(51, 51, 51) -10px 0px 40px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  min-height: 100%;
  margin: 0px auto;
  max-width: 1024px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

body h4{
  text-align: center;
  width: 100%;
}

body div#container{
  display: inline-flex;
  width: 100%;
  padding: 10px;
}

body div#summary{
  display: block;
  width: 100%;
  padding: 10px;
}

div#countdown {
  padding: 10px;
  text-align: center;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

div#countdown div {
  display: block;
  text-align: center;
  width: 100%;
  line-height: 1.2em;
  font-size: 1em;
  font-family: segment14, sans-serif;
  color: white;
  margin: 0px 10px;
  text-shadow: 0px 0px 2px black, 0px 0px 4px black, -1px 1px 8px white,
  1px -1px 8px white, -1px 1px 12px white, 1px -1px 12px white;
}

div#countdown div span {
  font-size: 2em;
}

div#htmlExplained{
  width: 100%;
  padding: 10px;
}

div#cssExplained{
  width: 100%;
  padding: 10px;
}

div#jsUsed{
  width: 100%;
  padding: 10px;
}

div#jsUsed > h5{
  text-align: center;
}

ul{
  margin: auto;
  display: inline-block;
  text-align: left;
  list-style-position: inside;
}

#left, #right{
  text-align: center;
  flex-grow: 1;
}

/* Footer Styles */

footer {
  width: 100%;
}

footer p {
  color: rgb(211, 211, 211);
  font-size: 0.9em;
  text-align: center;
  background-color: dimgrey;
  margin: 0px;
  padding: 10px 0px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

}

/*
 * Extends the .sr-only class to allow the element

 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
  `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   TO DO add media queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

