/*
Created by: Dylan LaMott

To be used in snake.html
*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background: black;
 text-align: center;
  align-items: center;
  justify-content: center;
}
footer{
  align-content: flex-end;
}

canvas {
  border: 1px solid greenyellow;
}
